body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(180deg, rgba(222, 222, 222, 255) 0%, #F8F8F8 50%, #FFFFFF 50%, #F8F8F8 53.12%, rgba(248, 248, 248, 0.2) 96.54%, #cccccc 99.98%, rgba(98, 98, 98, 0) 100%);  
}

code {
  font-family: Arial, Helvetica, sans-serif,
    monospace;
}

::placeholder {
  font-family: Arial, Helvetica, sans-serif;
  
}
